.button-cont {
    padding: 10px;
    margin: 20px;

}
.card-custom-container {
    max-width: 30rem;
    color: #ee89dd;
}
.custom-banner {
    padding: 10px;
    text-align: center;
    background-color: #7cdbb350;
}