body{
    background-color:#e1ffe1;
    margin: 0px;
    padding:0px;
}

h1{
    padding:auto;
    margin:auto;
    font-family: 'Anton', sans-serif;
    font-size:250%;
    letter-spacing: 1px;
    font-weight:normal;
    
}
p{
    font-family: 'Roboto', sans-serif;
    line-height:1.5em ;
}
h2{
    margin:0px;
    padding:0px;
    font-family: 'Anton', sans-serif;
    font-weight:lighter;
}
/*look at this later*/
li a {
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: underline;
font-family: 'Roboto', sans-serif;
font-weight:lighter;

}


#Adam{
    animation-name:popin;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
}
#adamisold{
    background-color: rgb(163, 243, 132);
    font-style: normal;
    padding:0 5px 0 5px;

}

.top{
    display:flex;
    justify-content: center;
    align-content:center;
    height: 300px;
    color:rgb(255, 255, 255);
    background-color: rgb(128, 149, 177);
}

.top::after{
    content: "";
    position: relative;
    top: 59%;
    right:70vw;
    width: 0;
    height: 0;
    border-top: 3vw solid rgb(128, 149, 177);
    border-right: 3vw solid transparent;
    border-left: 1vw solid transparent;
    z-index: 2;
}

.image{
    grid-area:image;
    padding:20px;
    position: auto;
    justify-content: left;
    align-content: left;
}
.image img{
    box-shadow:2px 2px 3px rgb(59, 59, 59);
    
}

.content{
    display:flex;
    align-content: top;
    justify-content: center;
    padding:20px;
}

.bottom{
    grid-area:bottom;
    justify-self: center;
}

aside{
    background-color:#118AB2;
    color:white;
    width:20%;
    padding:10px;
}

#Owen {
    background-color: rgb(255, 255, 255);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "image bottom bottom";
    
}

#OwenBaby{
    color:#ffc0cb;
    font-size: 20px;
    text-shadow: 2px 2px #cc8490;
}

.OwenSparkles{
    color:#00ffff;
    font-size: 20px;
    text-shadow: 2px 2px #39a5a5;
}

.OwenDepression{
    color: #4545f1;
    font-style:italic;
    text-shadow: 1px 1px #000046;
}

#OwenAnim {
    animation-name: owenbganim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes owenbganim{
    0% {background-color: #E1FFE1;}
    50% {background-color: #FFE2E2;}
    100% {background-color: #E1FFE1;}
}

#Jarne{
    background-color: rgb(206, 233, 233);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "image bottom bottom";
}

#Jarne b{
    display: flex;
    font-weight: normal;
    color: #d60000;
}

.jarneFR{
    display: flex;
    animation: cSpin 0.5s infinite;
    font-weight: normal;
}
@keyframes cSpin{
    50%{
        transform: rotate(-2deg);
    }
    100%{transform: rotate(2deg);
    }
}


#jarnePic:hover{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes spin{
    15%{
        transform: rotate(-15deg) scale(0.9);
    }
    85%{
        transform: rotate(360deg) scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#Brandon{
    background-color: rgb(244, 245, 233);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "image bottom bottom";
}

@keyframes colorchange {
    from {background-color: rgb(167, 40, 40);}
    to {background-color: rgb(128, 149, 177);}
  }
#Brandon h2{
    animation-duration: 3s;
    animation-name: slidein;
    text-decoration: wavy;
    
}

#Brandon h1{
    width: auto;
    height: auto;
    background-color: rgb(128, 149, 177);
    animation-name: colorchange;
    animation-duration: 3s;
}

#Brandonwebb{
    justify-content:start;
    align-content: flex-end;
    font-display:inherit;
}

.Brandonid{
    display: block;
    border-radius: 20px;
    background-color: radial-gradient rgba(2, 56, 122);
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    75% {
      font-size: 200%;
      margin-left: 25%;
      width: 150%;
    }
  }

 @keyframes popin{
        0% {transform: scale(0, 0);}
        60% {transform: scale(1.3, 1.3);}
        100% {transform: scale(1, 1);}
    }

#Max{
        background-color: rgb(255, 255, 255);
        width:60vw;
        min-height: 75vh;
        margin:auto;
        border-radius: 10px;
        display:grid;
        grid-template-columns: 25% 1fr 1fr;
        grid-template-rows: 30% 1fr 1fr 1fr;
        
        grid-template-areas:
            "top top top"
            "image content content"
            "image content content"
            "image bottom bottom";
 }
    
.MaxPulse{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	50% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

}
#MaxPageAnim {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 45px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(236, 13, 13, 0.473);
        animation-name: MaxPagePulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        z-index: 3;
      }
    
    
@keyframes MaxPagePulse {
    50% {
        background: #ff070700;
    }
}

.column{
    float: none;
    width: 33.33%;
    padding: -10px;
    text-align:center;
    display: inline-block;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.pp{
    background-color: white;
    border: solid;
}
.pepe{
    align-self: center;
}

.indexNav{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-content:center;
    background-color: #B4CCB4;
    grid-area: indexNav;
}

.indexNav li{
    width: 160px;
    text-align:center;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    font-weight:bolder;
}

.indexNav li:hover{
    background-color: #E1FFE1;
}

.indexNav a{
    color: black;
}
.indexNav a:hover{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes wiggle{
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    } 
}
.SPfooter{
    background-color: #fdf9f9;
}
#footer{
    position: absolute;
    bottom:0;
    max-height: 20%;
    width:100%;
    background-color: #fdf9f9;
}
.Indexcontent{
    display:flex;
    align-content: center;
    justify-content: center;
    font-size: 4rem;
}
.logo{
    
    display:flex;
    justify-content: center;
    align-content:center;
    background-color:#e1ffe1;
}

.mar{
    grid-area:mar;
    display:flex;
    background-color:#e1ffe1;
}
.qee{
    grid-area:qee;
    display:flex;
    background-color:#e1ffe1;
}
marquee{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}


.rangeForm{
    font-weight: 500;
    font-size: larger;
}

#there{
    max-width: 400px;
}

.container-fluid{
    margin-top:20px;
}