body{
    background-color:#e1ffe1;
    margin: 0px;
    padding:0px;
}
.navigation{
    z-index: 2;
    float: left;
    width: 100%;
    text-align:center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #B4CCB4;
}

.navigation li{
    width: auto;
    float: none;
    text-align:center;
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

.navigation li:hover{
    background-color: #A36F89;
}

h1{
    padding:auto;
    margin:auto;
    font-family: 'Anton', sans-serif;
    font-size:250%;
    letter-spacing: 1px;
    font-weight:normal;
    
}
p{
    font-family: 'Roboto', sans-serif;
    line-height:1.5em ;
}
h2{
    margin:0px;
    padding:0px;
    font-family: 'Anton', sans-serif;
    font-weight:lighter;
}

li a {
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: underline;
font-family: 'Roboto', sans-serif;
font-weight:lighter;

}

#Adam{
    background-color: rgba(255, 255, 255, 0);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "bottom bottom bottom";  
}
#Adam h1{
    animation-name:popin;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
}
#adamisold{
    background-color: rgb(163, 243, 132);
    font-style: normal;
    padding:0 5px 0 5px;

}
.AdamGlow{
    width:100vw;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 100%);
    height: 100vh;
}

.top{
    grid-area:top;
    display:flex;
    justify-content: right;
    align-content:left;
    color:rgb(255, 255, 255);
    background-color: rgb(128, 149, 177);
    text-decoration: underline;
}

#Adam .top::after{
    content: "";
    position: relative;
    top: 99%;
    right:46vw;
    width: 0;
    height: 0;
    border-top: 3vw solid rgb(128, 149, 177);
    border-right: 3vw solid transparent;
    border-left: 1vw solid transparent;
      
}

.image{
    grid-area:image;
    padding:20px;
    position: auto;
    justify-content: left;
    align-content: left;
}
.image img{
    box-shadow:2px 2px 3px rgb(59, 59, 59);
    max-width: 100%;
    height:auto;
}

.content{
    grid-area:content;
    padding:20px;
}

.bottom{
    grid-area:bottom;
    justify-self: center;
}

aside{
    background-color:#118AB2;
    color:white;
    width:20%;
    padding:10px;
}

#Owen {
    background-color: rgb(255, 255, 255);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "image bottom bottom";
    
}

#OwenBaby{
    color:#ffc0cb;
    font-size: 20px;
    text-shadow: 2px 2px #cc8490;
}

.OwenSparkles{
    color:#00ffff;
    font-size: 20px;
    text-shadow: 2px 2px #39a5a5;
}

.OwenDepression{
    color: #4545f1;
    font-style:italic;
    text-shadow: 1px 1px #000046;
}

#OwenAnim {
    animation-name: owenbganim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes owenbganim{
    0% {background-color: #E1FFE1;}
    50% {background-color: #FFE2E2;}
    100% {background-color: #E1FFE1;}
}

#Jarne{
    background-color: rgb(255, 255, 255);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "image bottom bottom";
    
}

#Brandon{
    background-color: rgb(244, 245, 233);
    width:60vw;
    min-height: 75vh;
    margin:auto;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    
    grid-template-areas:
        "top top top"
        "image content content"
        "image content content"
        "image bottom bottom";
}

@keyframes colorchange {
    from {background-color: rgb(167, 40, 40);}
    to {background-color: rgb(128, 149, 177);}
  }
#Brandon h2{
    animation-duration: 3s;
    animation-name: slidein;
    text-decoration: wavy;
    
}

#Brandon h1{
    width: auto;
    height: auto;
    background-color: rgb(128, 149, 177);
    animation-name: colorchange;
    animation-duration: 3s;
}

#Brandonwebb{
    justify-content:start;
    align-content: flex-end;
    font-display:inherit;
}

.Brandonid{
    display: block;
    border-radius: 20px;
    background-color: radial-gradient rgba(2, 56, 122);
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    75% {
      font-size: 200%;
      margin-left: 25%;
      width: 150%;
    }
  }

 @keyframes popin{
        0% {transform: scale(0, 0);}
        60% {transform: scale(1.3, 1.3);}
        100% {transform: scale(1, 1);}
    }

#Max{
        background-color: rgb(255, 255, 255);
        width:60vw;
        min-height: 75vh;
        margin:auto;
        border-radius: 10px;
        display:grid;
        grid-template-columns: 25% 1fr 1fr;
        grid-template-rows: 30% 1fr 1fr 1fr;
        
        grid-template-areas:
            "top top top"
            "image content content"
            "image content content"
            "image bottom bottom";
 }
    
.MaxPulse{
    background: rgba(0, 0, 0, 0);
	border-radius: 50%;
	margin: 10px;
	height: auto;
	width: auto;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	50% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

}
#MaxPageAnim {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 45px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(236, 13, 13, 0.473);
        animation-name: MaxPagePulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    
      }
    
    
@keyframes MaxPagePulse {
    50% {
        background: #ff070700;
    }
}

.column{
    float: none;
    width: 33.33%;
    padding: -10px;
    text-align:center;
    display: inline-block;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.pp{
    background-color: white;
    border: solid;
}
.pepe{
    align-self: center;
}

.indexNav{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-content:center;
    background-color: #B4CCB4;
    grid-area: indexNav;
}

.indexNav li{
    width: 160px;
    text-align:center;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    font-weight:bolder;
}

.indexNav li:hover{
    background-color: #E1FFE1;
}

.indexNav a{
    color: black;
}
.indexNav a:hover{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ;
}
@keyframes wiggle{
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    } 
}
.indexNav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    padding-bottom: 10px;
}

#Index{
    background-color:#fff;
    width:100%;
    margin:0px;
    padding:0px;
    min-height: 75vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  2% 25% 2% 15% 25% auto;
    
     grid-template-areas:
        "mar mar mar mar mar"
        "logo logo logo logo logo"
        "qee qee qee qee qee"
        "indexNav indexNav indexNav indexNav indexNav"
        "fire fire fire fire fire"
        "SPfooter SPfooter SPfooter SPfooter SPfooter"; 
}

.logo{
    grid-area:logo;
    display:flex;
    justify-content: center;
    align-content:center;
    background-color:#e1ffe1;
}

.mar{
    grid-area:mar;
    display:flex;
    background-color:#e1ffe1;
}
.qee{
    grid-area:qee;
    display:flex;
    background-color:#e1ffe1;
}
marquee{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}

.fire{
    grid-area:fire;
    display:flex;
    justify-content: center;
    align-content:center;
    background-color:#F0D3E1;
}
.fire img{
    max-height:200px;
    width: auto;
}

.SPfooter{
    grid-area:SPfooter;
    display:flex;
    justify-content: center;
    align-content:center;
    background-color: white;
}
.SPfooter img{
    padding:10px;
}

.artful{
    font-family: 'Ballet', cursive;
    font-size:450%;
    font-weight: bolder;
    align-self:center;
}
