body{
    background-color:#e1ffe1;
    margin: 0px;
    padding:0px;
}

h1{
    padding:auto;
    margin:auto;
    font-family: 'Anton', sans-serif;
    font-size:250%;
    letter-spacing: 1px;
    font-weight:normal;
    
}
p{
    font-family: 'Roboto', sans-serif;
    line-height:1.5em ;
}
h2{
    margin:0px;
    padding:0px;
    font-family: 'Anton', sans-serif;
    font-weight:lighter;
}

li a {
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: underline;
font-family: 'Roboto', sans-serif;
font-weight:lighter;

}


#Adam{
    animation-name:popin;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
}
#adamisold{
    background-color: rgb(163, 243, 132);
    font-style: normal;
    padding:0 5px 0 5px;

}

.top{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 300px;
    color:rgb(255, 255, 255);
    background-color: rgb(128, 149, 177);
}

.top::after{
    content: "";
    position: relative;
    top: 54%;
    right:65vw;
    width: 0;
    height: 0;
    border-top: 3vw solid rgb(128, 149, 177);
    border-right: 3vw solid transparent;
    border-left: 1vw solid transparent;
    z-index: 2;
}

.image img{
    box-shadow:2px 2px 3px rgb(59, 59, 59);
    max-height: 500px;
}

.content{
    display:flex;
    align-content: top;
    justify-content: center;
    padding:20px;
}


#OwenBaby{
    color:#ffc0cb;
    font-size: 20px;
    text-shadow: 2px 2px #cc8490;
}

.OwenSparkles{
    color:#00ffff;
    font-size: 20px;
    text-shadow: 2px 2px #39a5a5;
}

.OwenDepression{
    color: #4545f1;
    font-style:italic;
    text-shadow: 1px 1px #000046;
}

#OwenAnim {
    animation-name: owenbganim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes owenbganim{
    0% {background-color: #E1FFE1;}
    50% {background-color: #FFE2E2;}
    100% {background-color: #E1FFE1;}
}

.jarneFR{
    display: flex;
    animation: cSpin 0.5s infinite;
    font-weight: normal;
}
@keyframes cSpin{
    50%{
        transform: rotate(-2deg);
    }
    100%{transform: rotate(2deg);
    }
}


#jarnePic:hover{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes spin{
    15%{
        transform: rotate(-15deg) scale(0.9);
    }
    85%{
        transform: rotate(360deg) scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}



@keyframes colorchange {
    from {background-color: rgb(167, 40, 40);}
    to {background-color: rgb(128, 149, 177);}
  }
#Brandon{
    animation-duration: 3s;
    animation-name: slidein;
    overflow: hidden;
    
}

#Brandonh1{
    
    animation-name: colorchange;
    animation-duration: 3s;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    75% {
      font-size: 200%;
      margin-left: 25%;
      width: 150%;
    }
  }

 @keyframes popin{
        0% {transform: scale(0, 0);}
        60% {transform: scale(1.3, 1.3);}
        100% {transform: scale(1, 1);}
    }

.MaxPulse{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	50% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

}
#MaxPageAnim {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 45px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(236, 13, 13, 0.473);
        animation-name: MaxPagePulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        z-index: 3;
      }
    
    
@keyframes MaxPagePulse {
    50% {
        background: #ff070700;
    }
}


@keyframes wiggle{
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    } 
}

.SPfooter{
    background-color: #fdf9f9;
    display: flex;
    overflow: hidden;
}

#footer{
    display: flex;
    position: absolute;
    bottom:0;
    width:100%;
    background-color: #fdf9f9;
}
#footer p{
    line-height:18px;
    margin:15px 0 0 40px;
}


.Indexcontent{
    display:flex;
    align-content: center;
    justify-content: center;
    background: radial-gradient(ellipse at top,#f6ffcd, transparent),
                radial-gradient(ellipse at bottom,  #dbb3e0,transparent);
    font-size: 4rem;
    height:25%;
}

.logo{
    
    display:flex;
    justify-content: center;
    align-content:center;
    background-color:#e1ffe1;
}

.mar{
    display:flex;
    background-color:#e1ffe1;
}
.qee{
    display:flex;
    background-color:#e1ffe1;
}
marquee{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}

.row{
    display:flex;
    margin:0px;
    flex-wrap:wrap;
}

.rangeForm{
    font-weight: 500;
    font-size: larger;
}

#there{
    max-width: 400px;
}

.randomGuy{
    margin-top:5vw;
}